@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Manrope", sans-serif;

  --clr-dark: hsl(218, 23%, 16%);
  --clr-grayish-blue: hsl(217, 19%, 38%);
  --clr-dark-grayish-blue: hsl(217, 19%, 24%);
  --clr-neon-green: hsl(150, 100%, 66%);
  --clr-light-cyan: hsl(193, 38%, 86%);
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  background-color: var(--clr-dark);
  color: var(--clr-grayish-blue);
}

.container--el {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 120px auto;
  max-width: 343px;
  height: 347px;
  background: var(--clr-dark-grayish-blue);
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
}

.advice-title--el {
  margin-top: 40px;
  color: var(--clr-neon-green);
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.45714px;
}

.advice--el {
  color: var(--clr-light-cyan);
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.257143px;
  padding: 1em;
  margin: 0 auto;
}

.dice--el {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  left: 139px;
  top: 313px;
  border-radius: 100%;
  background: var(--clr-neon-green);
}

.dice--el:hover {
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.underline--el {
  position: absolute;
  top: 275px;
  display: flex;
  gap: 0.5em;
  margin-bottom: 64px;
}

.line--el {
  width: 122px;
  border: 1px solid var(--clr-grayish-blue);
}

.under--el {
  width: 6px;
  height: 16px;
  background-color: var(--clr-light-cyan);
  border-radius: 3px;
}

@media only screen and (min-width: 1024px) {
  .container--el {
    max-width: 540px;
  }

  .dice--el {
    left: 238px;
  }

  .underline--el {
    top: 244px;
  }

  .line--el {
    width: 196px;
  }
}
